$border-gray: #2f3336;
$grey-400: #71767b;
$grey-500: #676b70;
$grey-600: #333639;
$grey-700: #181919;
$grey-800: #0c1928;

$white-200: #e7e9ea;
$btn-white: #eff3f4;

$pink: #f91880;

$grey-text-400: #808080;
$textBlue: #1d9bf0;

$btn-blue: #1d9bf0;
$tweetBtn: #1d9bf0;
$tweetBtn-Dark: hsl(204, 78%, 26%);

$blackHover: #080808;
$attachment-btn-hover: #031018;
